node_modules/
.next/
out/
out.txt
dist/
coverage/
.env
.env.*
!.env.example
*.doc
*.docx
uploads/
tmp/
.DS_Store
Thumbs.db
SkripsiFlows/
doc-nexts/*.png
doc-nexts/*.js
doc-nexts/guidelines.txt

next-env.d.ts

*.log
